/*
BGP Updates API

Retrieve BGP updates observed by BGP monitors tracking prefixes in your ThousandEyes account group.

*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bgpupdates

import (
	"bytes"
	"context"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/client"
	internalerror "github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/error"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/request"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/pagination"
	"io"
	"net/http"
	"net/url"
	"time"
	"reflect"
)


// BGPUpdatesAPIService BGPUpdatesAPI service
type BGPUpdatesAPIService client.Service

type ApiGetBgpUpdatesRequest struct {

	ApiService *BGPUpdatesAPIService
	aid *string
	max *int32
	cursor *string
	expand *[]BgpDataExpandOption
	startDate *time.Time
	endDate *time.Time
	prefix *[]string
	originAs *[]int64
	asPath *[]string
	rpkiStatus *[]BgpRpkiStatus
	updateType *[]BgpUpdateType
	monitor *[]string
	communities *[]string
	ctx context.Context
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiGetBgpUpdatesRequest) Aid(aid string) ApiGetBgpUpdatesRequest {
	r.aid = &aid
	return r
}

// Maximum number of BGP updates to return.
func (r ApiGetBgpUpdatesRequest) Max(max int32) ApiGetBgpUpdatesRequest {
	r.max = &max
	return r
}

// (Optional) Opaque cursor used for pagination. Clients should use &#x60;next&#x60; value from &#x60;_links&#x60; instead of this parameter.
func (r ApiGetBgpUpdatesRequest) Cursor(cursor string) ApiGetBgpUpdatesRequest {
	r.cursor = &cursor
	return r
}

// Optional expansions. Pass &#x60;expand&#x3D;monitor&#x60; to replace monitor IDs with full BGP monitor objects.
func (r ApiGetBgpUpdatesRequest) Expand(expand []BgpDataExpandOption) ApiGetBgpUpdatesRequest {
	r.expand = &expand
	return r
}

// Use with the &#x60;endDate&#x60; parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can&#39;t be used with &#x60;window&#x60;.
func (r ApiGetBgpUpdatesRequest) StartDate(startDate time.Time) ApiGetBgpUpdatesRequest {
	r.startDate = &startDate
	return r
}

// Defaults to current time the request is made. Use with the &#x60;startDate&#x60; parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can&#39;t be used with &#x60;window&#x60;.
func (r ApiGetBgpUpdatesRequest) EndDate(endDate time.Time) ApiGetBgpUpdatesRequest {
	r.endDate = &endDate
	return r
}

// Prefix CIDR filters. Repeat the parameter to filter by multiple prefixes.
func (r ApiGetBgpUpdatesRequest) Prefix(prefix []string) ApiGetBgpUpdatesRequest {
	r.prefix = &prefix
	return r
}

// Origin AS filters. Repeat the parameter to filter by multiple ASNs.
func (r ApiGetBgpUpdatesRequest) OriginAs(originAs []int64) ApiGetBgpUpdatesRequest {
	r.originAs = &originAs
	return r
}

// AS path filter, expressed as a space-separated list of ASNs. Repeat the parameter to filter by multiple AS paths.
func (r ApiGetBgpUpdatesRequest) AsPath(asPath []string) ApiGetBgpUpdatesRequest {
	r.asPath = &asPath
	return r
}

// RPKI status filters.
func (r ApiGetBgpUpdatesRequest) RpkiStatus(rpkiStatus []BgpRpkiStatus) ApiGetBgpUpdatesRequest {
	r.rpkiStatus = &rpkiStatus
	return r
}

// BGP update type filters.
func (r ApiGetBgpUpdatesRequest) UpdateType(updateType []BgpUpdateType) ApiGetBgpUpdatesRequest {
	r.updateType = &updateType
	return r
}

// BGP monitor ID filters. Repeat the parameter to filter by multiple monitors. Get &#x60;monitorId&#x60; from the &#x60;/monitors&#x60; endpoint.
func (r ApiGetBgpUpdatesRequest) Monitor(monitor []string) ApiGetBgpUpdatesRequest {
	r.monitor = &monitor
	return r
}

// BGP community filters. Repeat the parameter to filter by multiple communities.
func (r ApiGetBgpUpdatesRequest) Communities(communities []string) ApiGetBgpUpdatesRequest {
	r.communities = &communities
	return r
}

func (r ApiGetBgpUpdatesRequest) Execute() (*BgpUpdates, *http.Response, error) {
	return r.ApiService.GetBgpUpdatesExecute(r)
}

func (r ApiGetBgpUpdatesRequest) ExecuteContext(ctx context.Context) (*BgpUpdates, *http.Response, error) {
	r.ctx = ctx
	return r.Execute()
}

func (r ApiGetBgpUpdatesRequest) Paginated() *pagination.Pager[BgpUpdates] {
	return pagination.NewPager(
		r.cursor,
		func(ctx context.Context, cursor *string) (*BgpUpdates, *http.Response, error) {
			pageRequest := r
			if cursor != nil {
				pageRequest = pageRequest.Cursor(*cursor)
			}
			return pageRequest.ExecuteContext(ctx)
		},
		func(page *BgpUpdates) (string, bool) {
			if page == nil {
				return "", false
			}
			links, ok := page.GetLinksOk()
			if !ok {
				return "", false
			}
			next, ok := links.GetNextOk()
			if !ok {
				return "", false
			}
			href, ok := next.GetHrefOk()
			if !ok {
				return "", true
			}
			return *href, true
		},
	)
}

/*
GetBgpUpdates List BGP updates

Retrieves a paginated list of BGP updates for prefixes tracked by the account group.
When `prefix` filters are omitted, updates are returned for all prefixes currently tracked by the account group.
Use the returned pagination links to request subsequent pages.



 @return ApiGetBgpUpdatesRequest
*/
func (a *BGPUpdatesAPIService) GetBgpUpdates() ApiGetBgpUpdatesRequest {
	return ApiGetBgpUpdatesRequest{
		ApiService: a,
	}
}

// Execute executes the request
//  @return BgpUpdates
func (a *BGPUpdatesAPIService) GetBgpUpdatesExecute(r ApiGetBgpUpdatesRequest) (*BgpUpdates, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		localVarReturnValue  *BgpUpdates
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/bgp/updates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	if r.max != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "")
	} else {
		var defaultValue int32 = 20
		r.max = &defaultValue
	}
	if r.cursor != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.expand != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "csv")
	}
	if r.startDate != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.prefix != nil {
		t := *r.prefix
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				request.ParameterAddToHeaderOrQuery(localVarQueryParams, "prefix", s.Index(i).Interface(), "multi")
			}
		} else {
			request.ParameterAddToHeaderOrQuery(localVarQueryParams, "prefix", t, "multi")
		}
	}
	if r.originAs != nil {
		t := *r.originAs
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				request.ParameterAddToHeaderOrQuery(localVarQueryParams, "originAs", s.Index(i).Interface(), "multi")
			}
		} else {
			request.ParameterAddToHeaderOrQuery(localVarQueryParams, "originAs", t, "multi")
		}
	}
	if r.asPath != nil {
		t := *r.asPath
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				request.ParameterAddToHeaderOrQuery(localVarQueryParams, "asPath", s.Index(i).Interface(), "multi")
			}
		} else {
			request.ParameterAddToHeaderOrQuery(localVarQueryParams, "asPath", t, "multi")
		}
	}
	if r.rpkiStatus != nil {
		t := *r.rpkiStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				request.ParameterAddToHeaderOrQuery(localVarQueryParams, "rpkiStatus", s.Index(i).Interface(), "multi")
			}
		} else {
			request.ParameterAddToHeaderOrQuery(localVarQueryParams, "rpkiStatus", t, "multi")
		}
	}
	if r.updateType != nil {
		t := *r.updateType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				request.ParameterAddToHeaderOrQuery(localVarQueryParams, "updateType", s.Index(i).Interface(), "multi")
			}
		} else {
			request.ParameterAddToHeaderOrQuery(localVarQueryParams, "updateType", t, "multi")
		}
	}
	if r.monitor != nil {
		t := *r.monitor
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				request.ParameterAddToHeaderOrQuery(localVarQueryParams, "monitor", s.Index(i).Interface(), "multi")
			}
		} else {
			request.ParameterAddToHeaderOrQuery(localVarQueryParams, "monitor", t, "multi")
		}
	}
	if r.communities != nil {
		t := *r.communities
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				request.ParameterAddToHeaderOrQuery(localVarQueryParams, "communities", s.Index(i).Interface(), "multi")
			}
		} else {
			request.ParameterAddToHeaderOrQuery(localVarQueryParams, "communities", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	if r.ctx != nil {
		req = req.WithContext(r.ctx)
	}
	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
