/*
Endpoint Test Results API

Retrieve results for scheduled and dynamic tests on endpoint agents.

*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package endpointtestresults

import (
	"bytes"
	"context"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/client"
	internalerror "github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/error"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/request"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/pagination"
	"io"
	"iter"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// HTTPServerEndpointScheduledTestResultsAPIService HTTPServerEndpointScheduledTestResultsAPI service
type HTTPServerEndpointScheduledTestResultsAPIService client.Service

type ApiGetHttpServerScheduledTestResultsRequest struct {

	ApiService *HTTPServerEndpointScheduledTestResultsAPIService
	testId string
	aid *string
	window *string
	startDate *time.Time
	endDate *time.Time
	cursor *string
	expand *[]ExpandEndpointHttpServerOptions
	ctx context.Context
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiGetHttpServerScheduledTestResultsRequest) Aid(aid string) ApiGetHttpServerScheduledTestResultsRequest {
	r.aid = &aid
	return r
}

// A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: &#x60;s&#x60; for seconds (default if no type is specified), &#x60;m&#x60; for minutes, &#x60;h&#x60; for hours, &#x60;d&#x60; for days, and &#x60;w&#x60; for weeks. For a precise date range, use &#x60;startDate&#x60; and &#x60;endDate&#x60;.
func (r ApiGetHttpServerScheduledTestResultsRequest) Window(window string) ApiGetHttpServerScheduledTestResultsRequest {
	r.window = &window
	return r
}

// Use with the &#x60;endDate&#x60; parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can&#39;t be used with &#x60;window&#x60;.
func (r ApiGetHttpServerScheduledTestResultsRequest) StartDate(startDate time.Time) ApiGetHttpServerScheduledTestResultsRequest {
	r.startDate = &startDate
	return r
}

// Defaults to current time the request is made. Use with the &#x60;startDate&#x60; parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can&#39;t be used with &#x60;window&#x60;.
func (r ApiGetHttpServerScheduledTestResultsRequest) EndDate(endDate time.Time) ApiGetHttpServerScheduledTestResultsRequest {
	r.endDate = &endDate
	return r
}

// (Optional) Opaque cursor used for pagination. Clients should use &#x60;next&#x60; value from &#x60;_links&#x60; instead of this parameter.
func (r ApiGetHttpServerScheduledTestResultsRequest) Cursor(cursor string) ApiGetHttpServerScheduledTestResultsRequest {
	r.cursor = &cursor
	return r
}

// This parameter is optional and determines whether to expand resources related to test results. By default, no expansion occurs when this query parameter is omitted. To expand a specific resource, such as \&quot;header,\&quot; append &#x60;?expand&#x3D;header&#x60; to the query.
func (r ApiGetHttpServerScheduledTestResultsRequest) Expand(expand []ExpandEndpointHttpServerOptions) ApiGetHttpServerScheduledTestResultsRequest {
	r.expand = &expand
	return r
}

func (r ApiGetHttpServerScheduledTestResultsRequest) Execute() (*HttpEndpointTestResults, *http.Response, error) {
	return r.ApiService.GetHttpServerScheduledTestResultsExecute(r)
}

func (r ApiGetHttpServerScheduledTestResultsRequest) ExecuteContext(ctx context.Context) (*HttpEndpointTestResults, *http.Response, error) {
	r.ctx = ctx
	return r.Execute()
}

func (r ApiGetHttpServerScheduledTestResultsRequest) Paginated() *pagination.Pager[HttpEndpointTestResults] {
	return pagination.NewPager(
		r.cursor,
		func(ctx context.Context, cursor *string) (*HttpEndpointTestResults, *http.Response, error) {
			pageRequest := r
			if cursor != nil {
				pageRequest = pageRequest.Cursor(*cursor)
			}
			return pageRequest.ExecuteContext(ctx)
		},
		func(page *HttpEndpointTestResults) (string, bool) {
			if page == nil {
				return "", false
			}
			links, ok := page.GetLinksOk()
			if !ok {
				return "", false
			}
			next, ok := links.GetNextOk()
			if !ok {
				return "", false
			}
			href, ok := next.GetHrefOk()
			if !ok {
				return "", true
			}
			return *href, true
		},
	)
}

func (r ApiGetHttpServerScheduledTestResultsRequest) All(ctx context.Context) iter.Seq2[HttpEndpointTestResult, error] {
	return pagination.All(ctx, r.Paginated(), (*HttpEndpointTestResults).GetResults)
}

/*
GetHttpServerScheduledTestResults Retrieve HTTP server scheduled test results

Returns component-level (DNS, Connect, Wait and Receive) timing for the load of an object over HTTP.


 @param testId Test ID
 @return ApiGetHttpServerScheduledTestResultsRequest
*/
func (a *HTTPServerEndpointScheduledTestResultsAPIService) GetHttpServerScheduledTestResults(testId string ) ApiGetHttpServerScheduledTestResultsRequest {
	return ApiGetHttpServerScheduledTestResultsRequest{
		ApiService: a,
		testId: testId,
	}
}

// Execute executes the request
//  @return HttpEndpointTestResults
func (a *HTTPServerEndpointScheduledTestResultsAPIService) GetHttpServerScheduledTestResultsExecute(r ApiGetHttpServerScheduledTestResultsRequest) (*HttpEndpointTestResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		localVarReturnValue  *HttpEndpointTestResults
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/endpoint/test-results/scheduled-tests/{testId}/http-server"
	localVarPath = strings.Replace(localVarPath, "{"+"testId"+"}", url.PathEscape(request.ParameterValueToString(r.testId, "testId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	if r.window != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "window", r.window, "")
	}
	if r.startDate != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.cursor != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.expand != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	if r.ctx != nil {
		req = req.WithContext(r.ctx)
	}
	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest struct {

	ApiService *HTTPServerEndpointScheduledTestResultsAPIService
	aid *string
	window *string
	startDate *time.Time
	endDate *time.Time
	cursor *string
	useAllPermittedAids *bool
	expand *[]ExpandEndpointHttpServerOptions
	httpEndpointTestsDataRoundsSearch *HttpEndpointTestsDataRoundsSearch
	ctx context.Context
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) Aid(aid string) ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	r.aid = &aid
	return r
}

// A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: &#x60;s&#x60; for seconds (default if no type is specified), &#x60;m&#x60; for minutes, &#x60;h&#x60; for hours, &#x60;d&#x60; for days, and &#x60;w&#x60; for weeks. For a precise date range, use &#x60;startDate&#x60; and &#x60;endDate&#x60;.
func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) Window(window string) ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	r.window = &window
	return r
}

// Use with the &#x60;endDate&#x60; parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can&#39;t be used with &#x60;window&#x60;.
func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) StartDate(startDate time.Time) ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	r.startDate = &startDate
	return r
}

// Defaults to current time the request is made. Use with the &#x60;startDate&#x60; parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can&#39;t be used with &#x60;window&#x60;.
func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) EndDate(endDate time.Time) ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	r.endDate = &endDate
	return r
}

// (Optional) Opaque cursor used for pagination. Clients should use &#x60;next&#x60; value from &#x60;_links&#x60; instead of this parameter.
func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) Cursor(cursor string) ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	r.cursor = &cursor
	return r
}

// Set to &#x60;true&#x60; to load data from all accounts the user has access to.
func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) UseAllPermittedAids(useAllPermittedAids bool) ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	r.useAllPermittedAids = &useAllPermittedAids
	return r
}

// This parameter is optional and determines whether to expand resources related to test results. By default, no expansion occurs when this query parameter is omitted. To expand a specific resource, such as \&quot;header,\&quot; append &#x60;?expand&#x3D;header&#x60; to the query.
func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) Expand(expand []ExpandEndpointHttpServerOptions) ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	r.expand = &expand
	return r
}

// Test data search filters.
func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) HttpEndpointTestsDataRoundsSearch(httpEndpointTestsDataRoundsSearch HttpEndpointTestsDataRoundsSearch) ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	r.httpEndpointTestsDataRoundsSearch = &httpEndpointTestsDataRoundsSearch
	return r
}

func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) Execute() (*HttpMultiEndpointTestResults, *http.Response, error) {
	return r.ApiService.GetMultiTestFilteredHttpServerScheduledTestResultsExecute(r)
}

func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) ExecuteContext(ctx context.Context) (*HttpMultiEndpointTestResults, *http.Response, error) {
	r.ctx = ctx
	return r.Execute()
}

func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) Paginated() *pagination.Pager[HttpMultiEndpointTestResults] {
	return pagination.NewPager(
		r.cursor,
		func(ctx context.Context, cursor *string) (*HttpMultiEndpointTestResults, *http.Response, error) {
			pageRequest := r
			if cursor != nil {
				pageRequest = pageRequest.Cursor(*cursor)
			}
			return pageRequest.ExecuteContext(ctx)
		},
		func(page *HttpMultiEndpointTestResults) (string, bool) {
			if page == nil {
				return "", false
			}
			links, ok := page.GetLinksOk()
			if !ok {
				return "", false
			}
			next, ok := links.GetNextOk()
			if !ok {
				return "", false
			}
			href, ok := next.GetHrefOk()
			if !ok {
				return "", true
			}
			return *href, true
		},
	)
}

func (r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) All(ctx context.Context) iter.Seq2[HttpEndpointTestResult, error] {
	return pagination.All(ctx, r.Paginated(), (*HttpMultiEndpointTestResults).GetResults)
}

/*
GetMultiTestFilteredHttpServerScheduledTestResults Filter HTTP server scheduled test results

Returns component-level (DNS, Connect, Wait and Receive) timing for the load of an object over HTTP.



 @return ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest
*/
func (a *HTTPServerEndpointScheduledTestResultsAPIService) GetMultiTestFilteredHttpServerScheduledTestResults() ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest {
	return ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest{
		ApiService: a,
	}
}

// Execute executes the request
//  @return HttpMultiEndpointTestResults
func (a *HTTPServerEndpointScheduledTestResultsAPIService) GetMultiTestFilteredHttpServerScheduledTestResultsExecute(r ApiGetMultiTestFilteredHttpServerScheduledTestResultsRequest) (*HttpMultiEndpointTestResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		localVarReturnValue  *HttpMultiEndpointTestResults
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/endpoint/test-results/scheduled-tests/http-server/filter"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	if r.window != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "window", r.window, "")
	}
	if r.startDate != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.cursor != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.useAllPermittedAids != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "useAllPermittedAids", r.useAllPermittedAids, "")
	} else {
		var defaultValue bool = false
		r.useAllPermittedAids = &defaultValue
	}
	if r.expand != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.httpEndpointTestsDataRoundsSearch
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	if r.ctx != nil {
		req = req.WithContext(r.ctx)
	}
	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest struct {

	ApiService *HTTPServerEndpointScheduledTestResultsAPIService
	testId string
	aid *string
	window *string
	startDate *time.Time
	endDate *time.Time
	cursor *string
	expand *[]ExpandEndpointHttpServerOptions
	httpEndpointTestsDataRoundsSearch *HttpEndpointTestsDataRoundsSearch
	ctx context.Context
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) Aid(aid string) ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest {
	r.aid = &aid
	return r
}

// A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: &#x60;s&#x60; for seconds (default if no type is specified), &#x60;m&#x60; for minutes, &#x60;h&#x60; for hours, &#x60;d&#x60; for days, and &#x60;w&#x60; for weeks. For a precise date range, use &#x60;startDate&#x60; and &#x60;endDate&#x60;.
func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) Window(window string) ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest {
	r.window = &window
	return r
}

// Use with the &#x60;endDate&#x60; parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can&#39;t be used with &#x60;window&#x60;.
func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) StartDate(startDate time.Time) ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest {
	r.startDate = &startDate
	return r
}

// Defaults to current time the request is made. Use with the &#x60;startDate&#x60; parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can&#39;t be used with &#x60;window&#x60;.
func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) EndDate(endDate time.Time) ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest {
	r.endDate = &endDate
	return r
}

// (Optional) Opaque cursor used for pagination. Clients should use &#x60;next&#x60; value from &#x60;_links&#x60; instead of this parameter.
func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) Cursor(cursor string) ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest {
	r.cursor = &cursor
	return r
}

// This parameter is optional and determines whether to expand resources related to test results. By default, no expansion occurs when this query parameter is omitted. To expand a specific resource, such as \&quot;header,\&quot; append &#x60;?expand&#x3D;header&#x60; to the query.
func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) Expand(expand []ExpandEndpointHttpServerOptions) ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest {
	r.expand = &expand
	return r
}

// Test result search filters.
func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) HttpEndpointTestsDataRoundsSearch(httpEndpointTestsDataRoundsSearch HttpEndpointTestsDataRoundsSearch) ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest {
	r.httpEndpointTestsDataRoundsSearch = &httpEndpointTestsDataRoundsSearch
	return r
}

func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) Execute() (*HttpMultiEndpointTestResults, *http.Response, error) {
	return r.ApiService.GetSingleTestFilteredHttpServerScheduledTestResultsExecute(r)
}

func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) ExecuteContext(ctx context.Context) (*HttpMultiEndpointTestResults, *http.Response, error) {
	r.ctx = ctx
	return r.Execute()
}

func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) Paginated() *pagination.Pager[HttpMultiEndpointTestResults] {
	return pagination.NewPager(
		r.cursor,
		func(ctx context.Context, cursor *string) (*HttpMultiEndpointTestResults, *http.Response, error) {
			pageRequest := r
			if cursor != nil {
				pageRequest = pageRequest.Cursor(*cursor)
			}
			return pageRequest.ExecuteContext(ctx)
		},
		func(page *HttpMultiEndpointTestResults) (string, bool) {
			if page == nil {
				return "", false
			}
			links, ok := page.GetLinksOk()
			if !ok {
				return "", false
			}
			next, ok := links.GetNextOk()
			if !ok {
				return "", false
			}
			href, ok := next.GetHrefOk()
			if !ok {
				return "", true
			}
			return *href, true
		},
	)
}

func (r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) All(ctx context.Context) iter.Seq2[HttpEndpointTestResult, error] {
	return pagination.All(ctx, r.Paginated(), (*HttpMultiEndpointTestResults).GetResults)
}

/*
GetSingleTestFilteredHttpServerScheduledTestResults Filter HTTP server result for a scheduled test

Returns component-level timings for an object load over HTTP. These include DNS, connect, wait, and receive times for a single scheduled test.


 @param testId Test ID
 @return ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest
*/
func (a *HTTPServerEndpointScheduledTestResultsAPIService) GetSingleTestFilteredHttpServerScheduledTestResults(testId string ) ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest {
	return ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest{
		ApiService: a,
		testId: testId,
	}
}

// Execute executes the request
//  @return HttpMultiEndpointTestResults
func (a *HTTPServerEndpointScheduledTestResultsAPIService) GetSingleTestFilteredHttpServerScheduledTestResultsExecute(r ApiGetSingleTestFilteredHttpServerScheduledTestResultsRequest) (*HttpMultiEndpointTestResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		localVarReturnValue  *HttpMultiEndpointTestResults
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/endpoint/test-results/scheduled-tests/{testId}/http-server/filter"
	localVarPath = strings.Replace(localVarPath, "{"+"testId"+"}", url.PathEscape(request.ParameterValueToString(r.testId, "testId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	if r.window != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "window", r.window, "")
	}
	if r.startDate != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.cursor != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.expand != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.httpEndpointTestsDataRoundsSearch
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	if r.ctx != nil {
		req = req.WithContext(r.ctx)
	}
	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
