/*
Cloud Insights Integrations API

**Note:** All Cloud Insights APIs are not available for ThousandEyes for Government instance.  The Cloud Insights Integrations API lets you programmatically manage **AWS** and **Azure** monitoring integrations in ThousandEyes.   ### What You Can Do  - **List** all integrations.  - **Get** details for a specific integration.  - **Delete** an existing integration.  - **Create** integrations for:    - **AWS**: inventory monitoring and flow logs monitoring.      - **Azure**: inventory monitoring and flow logs monitoring.  - **Update** integrations for:    - **Azure**: inventory monitoring and flow logs monitoring.    - **Fetch AWS IAM policy documents** required to configure AWS inventory and flow-logs integrations.  - **Retrieve** the current AWS and Azure integration policy settings to understand which AWS and Azure resource groups, AWS regions, Azure subscription rules are enabled and whether CloudTrail is enabled for Cloud Insights for inventory monitoring.  - **Update** policy settings to change the approved AWS resource groups, AWS regions, and Azure subscription rules that ThousandEyes should inventory.   ### Scope and Tenancy  All operations are scoped to the authenticated account group. Responses include only resources associated with that group.   ### Payloads and formats  - **Requests:** `application/json`  - **Responses:** primarily `application/hal+json` for resource representations and `application/json` for policy documents.  - HAL responses include `_links` with a `self` relation for direct navigation.   ### Integration Types  - **Inventory monitoring**    - AWS: reads inventory and network topology via read-only IAM permissions.      - Azure: authenticates with a Service Principal to read inventory and network topology.    - **Flow logs monitoring**    - AWS: reads flow logs from S3 buckets and uses SNS for notifications.      - Azure: reads flow logs via **Service Bus Queue** (`serviceBusQueueUrl`).     ### Policy Helpers (AWS)  Dedicated endpoints return **Trusted Policy**, **Permissions Policy**, and **SNS Topic Access Policy** documents to simplify role setup for inventory and flow logs integrations.   ### Notes  - All example values in this specification are **fictitious**.   For more information about Cloud Insights, see [Cloud Insights](https://docs.thousandeyes.com/product-documentation/cloud-insights). 

*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloudinsightsintegrations

import (
	"bytes"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/client"
	internalerror "github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/error"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/request"
	"io"
	"net/http"
	"net/url"
)


// CloudInsightsIntegrationPolicySettingsAPIService CloudInsightsIntegrationPolicySettingsAPI service
type CloudInsightsIntegrationPolicySettingsAPIService client.Service

type ApiGetAWSIntegrationPolicySettingsRequest struct {

	ApiService *CloudInsightsIntegrationPolicySettingsAPIService
	aid *string
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiGetAWSIntegrationPolicySettingsRequest) Aid(aid string) ApiGetAWSIntegrationPolicySettingsRequest {
	r.aid = &aid
	return r
}

func (r ApiGetAWSIntegrationPolicySettingsRequest) Execute() (*AwsIntegrationPolicySetting, *http.Response, error) {
	return r.ApiService.GetAWSIntegrationPolicySettingsExecute(r)
}

/*
GetAWSIntegrationPolicySettings Get AWS integration policy settings

Retrieves the AWS integration policy settings for the authenticated account group. Use this endpoint to audit which AWS resource group types and AWS regions are enabled, and whether CloudTrail is enabled, for Cloud Insights inventory monitoring.



 @return ApiGetAWSIntegrationPolicySettingsRequest
*/
func (a *CloudInsightsIntegrationPolicySettingsAPIService) GetAWSIntegrationPolicySettings() ApiGetAWSIntegrationPolicySettingsRequest {
	return ApiGetAWSIntegrationPolicySettingsRequest{
		ApiService: a,
	}
}

// Execute executes the request
//  @return AwsIntegrationPolicySetting
func (a *CloudInsightsIntegrationPolicySettingsAPIService) GetAWSIntegrationPolicySettingsExecute(r ApiGetAWSIntegrationPolicySettingsRequest) (*AwsIntegrationPolicySetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		localVarReturnValue  *AwsIntegrationPolicySetting
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/cloud-insights/integration/aws/policy/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAzureIntegrationPolicySettingsRequest struct {

	ApiService *CloudInsightsIntegrationPolicySettingsAPIService
	aid *string
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiGetAzureIntegrationPolicySettingsRequest) Aid(aid string) ApiGetAzureIntegrationPolicySettingsRequest {
	r.aid = &aid
	return r
}

func (r ApiGetAzureIntegrationPolicySettingsRequest) Execute() (*AzureIntegrationPolicySetting, *http.Response, error) {
	return r.ApiService.GetAzureIntegrationPolicySettingsExecute(r)
}

/*
GetAzureIntegrationPolicySettings Get Azure integration policy settings

Retrieves the Azure integration policy settings for the authenticated account group. Use this endpoint to review which Azure resource group types are monitored and inspect the subscriptions policy rules that gate which subscriptions ThousandEyes inventories.



 @return ApiGetAzureIntegrationPolicySettingsRequest
*/
func (a *CloudInsightsIntegrationPolicySettingsAPIService) GetAzureIntegrationPolicySettings() ApiGetAzureIntegrationPolicySettingsRequest {
	return ApiGetAzureIntegrationPolicySettingsRequest{
		ApiService: a,
	}
}

// Execute executes the request
//  @return AzureIntegrationPolicySetting
func (a *CloudInsightsIntegrationPolicySettingsAPIService) GetAzureIntegrationPolicySettingsExecute(r ApiGetAzureIntegrationPolicySettingsRequest) (*AzureIntegrationPolicySetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		localVarReturnValue  *AzureIntegrationPolicySetting
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/cloud-insights/integration/azure/policy/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateAWSIntegrationPolicySettingsRequest struct {

	ApiService *CloudInsightsIntegrationPolicySettingsAPIService
	awsIntegrationPolicySetting *AwsIntegrationPolicySetting
	aid *string
}

func (r ApiUpdateAWSIntegrationPolicySettingsRequest) AwsIntegrationPolicySetting(awsIntegrationPolicySetting AwsIntegrationPolicySetting) ApiUpdateAWSIntegrationPolicySettingsRequest {
	r.awsIntegrationPolicySetting = &awsIntegrationPolicySetting
	return r
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiUpdateAWSIntegrationPolicySettingsRequest) Aid(aid string) ApiUpdateAWSIntegrationPolicySettingsRequest {
	r.aid = &aid
	return r
}

func (r ApiUpdateAWSIntegrationPolicySettingsRequest) Execute() (*AwsIntegrationPolicySetting, *http.Response, error) {
	return r.ApiService.UpdateAWSIntegrationPolicySettingsExecute(r)
}

/*
UpdateAWSIntegrationPolicySettings Update AWS integration policy settings

Updates the AWS integration policy settings for the authenticated account group. This endpoint lets you enable or disable specific AWS resource group types, adjust the set of AWS regions to inventory, and control whether CloudTrail is enabled for inventory monitoring.



 @return ApiUpdateAWSIntegrationPolicySettingsRequest
*/
func (a *CloudInsightsIntegrationPolicySettingsAPIService) UpdateAWSIntegrationPolicySettings() ApiUpdateAWSIntegrationPolicySettingsRequest {
	return ApiUpdateAWSIntegrationPolicySettingsRequest{
		ApiService: a,
	}
}

// Execute executes the request
//  @return AwsIntegrationPolicySetting
func (a *CloudInsightsIntegrationPolicySettingsAPIService) UpdateAWSIntegrationPolicySettingsExecute(r ApiUpdateAWSIntegrationPolicySettingsRequest) (*AwsIntegrationPolicySetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		localVarReturnValue  *AwsIntegrationPolicySetting
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/cloud-insights/integration/aws/policy/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.awsIntegrationPolicySetting == nil {
		return localVarReturnValue, nil, internalerror.ReportError("awsIntegrationPolicySetting is required and must be specified")
	}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.awsIntegrationPolicySetting
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateAzureIntegrationPolicySettingsRequest struct {

	ApiService *CloudInsightsIntegrationPolicySettingsAPIService
	azureIntegrationPolicySetting *AzureIntegrationPolicySetting
	aid *string
}

func (r ApiUpdateAzureIntegrationPolicySettingsRequest) AzureIntegrationPolicySetting(azureIntegrationPolicySetting AzureIntegrationPolicySetting) ApiUpdateAzureIntegrationPolicySettingsRequest {
	r.azureIntegrationPolicySetting = &azureIntegrationPolicySetting
	return r
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiUpdateAzureIntegrationPolicySettingsRequest) Aid(aid string) ApiUpdateAzureIntegrationPolicySettingsRequest {
	r.aid = &aid
	return r
}

func (r ApiUpdateAzureIntegrationPolicySettingsRequest) Execute() (*AzureIntegrationPolicySetting, *http.Response, error) {
	return r.ApiService.UpdateAzureIntegrationPolicySettingsExecute(r)
}

/*
UpdateAzureIntegrationPolicySettings Update Azure integration policy settings

Updates the Azure integration policy settings for the authenticated account group. This endpoint lets you enable or disable Azure resource group types and manage the subscriptions policy (rules plus default action) that controls which Azure subscriptions are inventoried.



 @return ApiUpdateAzureIntegrationPolicySettingsRequest
*/
func (a *CloudInsightsIntegrationPolicySettingsAPIService) UpdateAzureIntegrationPolicySettings() ApiUpdateAzureIntegrationPolicySettingsRequest {
	return ApiUpdateAzureIntegrationPolicySettingsRequest{
		ApiService: a,
	}
}

// Execute executes the request
//  @return AzureIntegrationPolicySetting
func (a *CloudInsightsIntegrationPolicySettingsAPIService) UpdateAzureIntegrationPolicySettingsExecute(r ApiUpdateAzureIntegrationPolicySettingsRequest) (*AzureIntegrationPolicySetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		localVarReturnValue  *AzureIntegrationPolicySetting
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/cloud-insights/integration/azure/policy/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.azureIntegrationPolicySetting == nil {
		return localVarReturnValue, nil, internalerror.ReportError("azureIntegrationPolicySetting is required and must be specified")
	}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.azureIntegrationPolicySetting
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
