/*
Integrations API

**Note:** The Webhook Operations APIs are not available for ThousandEyes for Government instance.  Manage connectors and operations. 

*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package connectors

import (
	"bytes"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/client"
	internalerror "github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/error"
	"github.com/thousandeyes/thousandeyes-sdk-go/v3/internal/request"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OperationConnectorsAPIService OperationConnectorsAPI service
type OperationConnectorsAPIService client.Service

type ApiGetOperationConnectorsRequest struct {

	ApiService *OperationConnectorsAPIService
	type_ string
	id string
	aid *string
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiGetOperationConnectorsRequest) Aid(aid string) ApiGetOperationConnectorsRequest {
	r.aid = &aid
	return r
}

func (r ApiGetOperationConnectorsRequest) Execute() (*Assignments, *http.Response, error) {
	return r.ApiService.GetOperationConnectorsExecute(r)
}

/*
GetOperationConnectors Retrieve connectors assigned to an operation

Returns a list of connectors assigned to a specific operation.

 @param type_ The operation type. @param id The operation ID.
 @return ApiGetOperationConnectorsRequest
*/
func (a *OperationConnectorsAPIService) GetOperationConnectors(type_ string , id string ) ApiGetOperationConnectorsRequest {
	return ApiGetOperationConnectorsRequest{
		ApiService: a,
		type_: type_,
		id: id,
	}
}

// Execute executes the request
//  @return Assignments
func (a *OperationConnectorsAPIService) GetOperationConnectorsExecute(r ApiGetOperationConnectorsRequest) (*Assignments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		localVarReturnValue  *Assignments
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/operations/{type}/{id}/connectors"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(request.ParameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(request.ParameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSetOperationConnectorsRequest struct {

	ApiService *OperationConnectorsAPIService
	type_ string
	id string
	requestBody *[]string
	confirmDisabledObjects *bool
	aid *string
}

// List of connector IDs to assign to the operation.
func (r ApiSetOperationConnectorsRequest) RequestBody(requestBody []string) ApiSetOperationConnectorsRequest {
	r.requestBody = &requestBody
	return r
}

// Confirmation to disable affected objects (for example, tests) for credential-vault operations.
func (r ApiSetOperationConnectorsRequest) ConfirmDisabledObjects(confirmDisabledObjects bool) ApiSetOperationConnectorsRequest {
	r.confirmDisabledObjects = &confirmDisabledObjects
	return r
}

// A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
func (r ApiSetOperationConnectorsRequest) Aid(aid string) ApiSetOperationConnectorsRequest {
	r.aid = &aid
	return r
}

func (r ApiSetOperationConnectorsRequest) Execute() (*Assignments, *http.Response, error) {
	return r.ApiService.SetOperationConnectorsExecute(r)
}

/*
SetOperationConnectors Assign connectors to an operation

Assigns one or more connectors to an operation. This replaces any existing assignments. Note: This operation may disable affected objects (such as tests) if connectors are changed.

 @param type_ The operation type. @param id The operation ID.
 @return ApiSetOperationConnectorsRequest
*/
func (a *OperationConnectorsAPIService) SetOperationConnectors(type_ string , id string ) ApiSetOperationConnectorsRequest {
	return ApiSetOperationConnectorsRequest{
		ApiService: a,
		type_: type_,
		id: id,
	}
}

// Execute executes the request
//  @return Assignments
func (a *OperationConnectorsAPIService) SetOperationConnectorsExecute(r ApiSetOperationConnectorsRequest) (*Assignments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		localVarReturnValue  *Assignments
	)

	localBasePath := a.Client.GetConfig().ServerURL

	localVarPath := localBasePath + "/operations/{type}/{id}/connectors"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(request.ParameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(request.ParameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, internalerror.ReportError("requestBody is required and must be specified")
	}
	if len(*r.requestBody) < 0 {
		return localVarReturnValue, nil, internalerror.ReportError("requestBody must have at least 0 elements")
	}
	if len(*r.requestBody) > 1 {
		return localVarReturnValue, nil, internalerror.ReportError("requestBody must have less than 1 elements")
	}

	if r.confirmDisabledObjects != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "confirmDisabledObjects", r.confirmDisabledObjects, "")
	} else {
		var defaultValue bool = false
		r.confirmDisabledObjects = &defaultValue
	}
	if r.aid != nil {
		request.ParameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := request.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := request.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.Client.PrepareRequest(localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v UnauthorizedError
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, &v, localVarBody, localVarHTTPResponse)
		}
		return localVarReturnValue, localVarHTTPResponse, internalerror.DecodeError(a.Client.Decode, nil, localVarBody, localVarHTTPResponse)
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &internalerror.GenericAPIError{
			Body:  localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
